.toast-container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    width: 240px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    padding-right: 45px;
}
.toast-container .toast{
    width: 100%;
    min-height: 50px;
    margin: 10px 0 0 10px;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.616);
    border: 2px groove;
    border-radius: 10px;
    border-left-width: 10px;
    /* border-top-left-radius: 0%;
    border-bottom-left-radius: 0%; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    animation-duration:  .3s;
    animation-name: toastEntry;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    background: #dad3002e;
}
.toast-success{
    border-color:  green !important;
    background: #74ff3a78 !important
}
.toast-warning{
    border-color:  rgb(255, 136, 0) !important;
    background: #ffa500ad !important;
}
.toast-danger{
    border-color:  red !important;
    background: #ff00006b !important;
}
.toast-info{
    border-color:  rgb(83, 83, 255) !important;
    background: #0000ff38 !important;
}
.toast-title{
    padding: 10px 0;
}
.toast-message{
    margin: 10px 0;
}
.toast-hide{
    animation-duration:  .3s;
    animation-name: toastExit;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@keyframes toastEntry {
    from {
      transform: translate3d(400px, 0, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @keyframes toastExit {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(400px, 0, 0);
      opacity: 0;
    }
  }
  